@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Newsreader", serif;;
}
html{
    overflow-x: hidden;
}
body{
    background: radial-gradient(circle, #1b1f3a 0%, #0f111a 100%);
    height: 100%;
}
#button{
    position: relative;
    top: 20px;
    left: 30px;
}
.btn{
    width: 150px;
    height: 50px;
    font-size: 2vh;
    color: white;
    background: radial-gradient(circle, #1b1f3a 0%, #0f111a 100%);
             box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    
    display: inline;

}
.btn a{
    text-decoration: none;
    color: white;

}
button:hover{
            background: rgba(6, 6, 84, 0.5);
            transform: translateY(-5px) translateX(5px);
            box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
        }
.about{
    position: relative;
    top: 50px;
    display: grid;
    grid-template-areas:
 "intro intro image image"
 "intro intro image image"
 "intro intro image image"
 "intro intro image image"
 "hobbies hobbies image image";
 color: #fff;
 font-size: 3vh;
}
#me{
    grid-area: intro;
    border: 2px solid black;
    width: 50vw;
    height: 40vh;
    position: relative;
    left: 40px;
    border-radius: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}
#me:hover{
    transform: translateX(5px) translateY(-5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
#image{
    grid-area: image;
    border: 2px solid black;
    width: 30vw;
    height: 70vh;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: 2px solid rgba(255,255,255,0.3);
}
#image:hover{
    transform: translateX(5px) translateY(-5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#hobbies{
    grid-area: hobbies;
    border: 2px solid black;
    width: 50vw;
    height: 35vh;
    position: relative;
    left: 40px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}
#hobbies:hover{
    transform: translateX(5px) translateY(-5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.me{
    position: absolute;
    top: 50px;
    left: 50px;
}
.myintro{
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 1.5rem;
}
.hobbies{
    position: absolute;
    top: 50px;
    left: 50px;
    
}
.hobby{
    position: absolute;
    top: 140px;
    left: 50px;
    font-size: 1.5rem;
}
#hobbies{
    margin-top: 20px;
}
footer{
           
            color: white;
           background-color: rgba(0, 0, 0, 0.921);
           display: block;
           width: 100%;
           position: sticky;
           bottom: 0px;
           height: 50px;
           text-align: center;
           padding: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           
        }
        footer p{
            font-size: 1.2rem;
            color: white;
            text-shadow: 0px 0px 0px whitesmoke;
        }



