@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Newsreader", serif;;
}
body{
    background: radial-gradient(circle, rgb(54, 54, 108), rgb(42, 42, 101));
}
#button{
    position: relative;
    top: 20px;
    left: 30px;
}
.btn{
    width: 150px;
    height: 50px;
    font-size: 2vh;
    color: white;
    background: rgba(4, 4, 109, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: inline;

}
.btn a{
    text-decoration: none;
    color: white;

}
button:hover{
            background: rgba(54, 54, 108, 0.5);
            transform: translateY(-2px);
            box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
        }
.about{
    position: relative;
    top: 50px;
    display: grid;
    grid-template-areas:
 "intro intro image image"
 "intro intro image image"
 "intro intro image image"
 "intro intro image image"
 "hobbies hobbies image image";
 color: #fff;
 font-size: 3vh;
}
#me{
    grid-area: intro;
    border: 2px solid black;
    width: 50vw;
    height: 50vh;
    position: relative;
    left: 30px;
}
#image{
    grid-area: image;
    border: 2px solid black;
    width: 30vw;
    height: 70vh;
    border-radius: 50%;
}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#hobbies{
    grid-area: hobbies;
    border: 2px solid black;
    width: 50vw;
    height: 35vh;
    position: relative;
    left: 30px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.me{
    position: absolute;
    top: 50px;
    left: 50px;
}
.myintro{
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 2rem;
}
.hobbies{
    position: absolute;
    top: 50px;
    left: 50px;
}
.hobby{
    position: absolute;
    top: 140px;
    left: 50px;
}
