
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:radial-gradient(circle, #1b1f3a 0%, #0f111a 100%) ;
}

.circle-nav{
    position: relative;
    
    width: 50vw;
    height: 88vh;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-logo{
    position: absolute;
    width: 170px;
    height: 170px;
    background: radial-gradient(circle, #1b1f3a 0%, #0f111a 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #ffffff;
;
    font-weight: 600;
    font-size: 25px;
    z-index: 10;
    box-shadow: 0 0 25px 6px rgba(0, 136, 255, 0.3);

    text-align: center;
}

.circle-nav a{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.circle-nav a:hover{
    background: radial-gradient(circle, #1b1f3a 0%, #0f111a 100%);
    box-shadow: 0 0 25px 6px rgba(0, 136, 255, 0.3);
    color: white;
    transform: scale(1.1) translateY(-10px);
    
    .icon{
        fill: white;
    }
    
}
#first{
    transform: rotate(0deg) translateY(-270px);
}
#first:hover{
    transform: rotate(0deg) translateY(-280px) scale(1.1);
}
#second{
    transform: rotate(0deg) translateX(270px);
}
#second:hover{
    transform: rotate(0deg) translateX(280px) translateY(-10px) scale(1.1);
}
#third{
    transform: rotate(0deg) translateY(270px);
}
#third:hover{
    transform: rotate(0deg) translateY(280px) scale(1.1);
}
#fourth{
    transform: rotate(0deg) translateX(-270px);
}
#fourth:hover{
    transform: rotate(0deg) translateX(-280px) translateY(-10px) scale(1.1);
}
footer{
            position: absolute;
            bottom: 0px;
            color: white;
           background-color: rgba(0, 0, 0, 0.621);
           display: block;
           width: 100%;
           text-align: center;
           padding: 10px;
           
           
        }
        footer p{
            font-size: 1.2rem;
            color: white;
            text-shadow: 0px 0px 0px whitesmoke;
        }