/* css reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:radial-gradient(circle,rgb(54, 54, 108),rgb(42, 42, 101));
}

.circle-nav{
    position: relative;
    
    width: 50vw;
    height: 88vh;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* center logo */
.center-logo{
    position: absolute;
    width: 170px;
    height: 170px;
    background: rgb(101, 190, 238);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    z-index: 10;
    box-shadow: 0 0 15px #3498db;
    text-align: center;
}
/* anchor tage elements styling */
.circle-nav a{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.circle-nav a:hover{
    background:rgb(53, 172, 237);
    box-shadow: 0 0 15px rgb(101, 190, 238);
    color: white;
    
}
#first{
    transform: rotate(0deg) translateY(-270px);
    
}
#second{
    transform: rotate(0deg) translateX(270px) ;
}
#third{
    transform: rotate(0deg) translateY(270px);
}
#fourth{
    transform: rotate(0deg) translateX(-270px);
    
}