body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
           background: radial-gradient(circle, #1b1f3a 0%, #0f111a 100%);
           opacity: 0;
           animation: fadeIn 1.5s ease-in-out forwards;
        }
        h1{
            font-size: 10vh;
            color: whitesmoke;
            
        }
        p{
            font-size: 5vh;
            color: white;
            
            font-weight: bold;
        }
        button{
            font-size: 5vh;
            color: white;
             background: radial-gradient(circle, #1b1f3a 0%, #0f111a 100%);
             box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            padding: 15px 30px;
            cursor: pointer;
            transition: all 0.3s ease;
            
        }
        button a{
            text-decoration: none;
            color: white;
        }
        button:hover{
            background: rgba(6, 6, 84, 0.5);
            transform: translateY(-2px);
            box-shadow: 0 0 10px #3b82f6;
        }
        footer{
            position: absolute;
            bottom: 0px;
            color: white;
           background-color: rgba(0, 0, 0, 0.621);
           display: block;
           width: 100%;
           text-align: center;
           padding: 10px;
           height: 50px;
           
           
        }
        footer p{
            font-size: 1.2rem;
            color: white;
            text-shadow: 0px 0px 0px whitesmoke;
        }
       @keyframes fadeIn {
           0% {
               opacity: 0;
               transform: translateY(30px);
           }
           100% {
               opacity: 1;
               transform: translateY(0);
           }
       }
       
       .heading {
           animation: fadeIn 1.8s ease-in-out 0.3s forwards;
           opacity: 0;
       }
       
       .heading + div {
           animation: fadeIn 1.8s ease-in-out 0.6s forwards;
           opacity: 0;
       }
       
       button {
           animation: fadeIn 1.8s ease-in-out 0.9s forwards;
           opacity: 0;
       }